@model Usuario

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindo</h1>
    <p>Nome Completo: @Model.Nome @Model.SobreNome</p>
    <p>Email: @Model.Email</p>

</div>

<form asp-action="ProcessandoFormulario" asp-controller="Home" method="post">
    <div class="form-group">
        <label for="habilidade">Habilidade</label>
        <input type="text" class="form-control" id="habilidade" name="habilidade" placeholder="Insira uma habilidade">     
    </div>
    <input type="submit" class="btn btn-primary" value="Enviar">
</form>

<h2>Habilidades:</h2>
@await Html.PartialAsync("_Habilidades", Model.habilidades)