@model UsuarioModel
@{
    ViewData["Title"] = "Confirmação apagar o usuário";
}

<div class="text-center">
    <h3>Realmente deseja apagar o usuário (@Model.Nome)?</h3>
</div>

<div class="d-grid gap-2" style="margin: 5px 0px">
    <a class="btn btn-primary" role="button" asp-controller="Home" asp-action="Index">Cancelar exclusão</a>
</div>
<div class="d-grid gap-2" style="margin: 5px 0px">
    <a class="btn btn-danger" role="button" asp-controller="Home" asp-action="Apagar" asp-route-id="@Model.Id">Confirmar exclusão</a>
</div>