@{
    ViewData["Title"] = "Home Page";
}
@if (TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-success" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">
            X
        </button>
        @TempData["MensagemSucesso"]
    </div>
}

@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">
            X
        </button>
        @TempData["MensagemErro"]
    </div>
}

<div class="container Quadro-Tela">
    <div class="row">
        <div class="col-12">
            <div class="menu-item">
                <a asp-controller="Home" asp-action="CadastrarUsuario"><i class="navbar-brand mb-0 h1">Cadastrar Usuário</i></a>
            </div>
            <div class="menu-item">
                <a asp-controller="Home" asp-action="ListarUsuario"><i class="navbar-brand mb-0 h1">Listar Usuários</i></a>
            </div>
            
        </div>
    </div>
</div>